$green-clr: #d3ea00;

$white-clr: #ffffff;
$black-clr: #000;
$gray-clr: #f5f7fa;
$gray-clr-2: #6b6b6b;

$purple-100: #6366f1;
$purple-200: #4d4fc4;
$purple-300: #711db3;
$purple-400: #3c006b;
$purple-500: #240e56;
$purple-900: #06062e;

$border-radius-sm: 0.5rem;

$nectar-accent-color: #25a172;
$nectar-extra-color-1: #010e1e;
$nectar-extra-color-2: #4f2a5b;
$nectar-extra-color-3: #f7f9fa;

$yellow-100: #ffdb77;
$yellow-200: #cb9500;

$red-100: #ffc1c1;
$red-300: #ffa5a5;
$red-500: #ff0000;
