$white-clr: #fff;
$black-clr: #1b1b1b;

$purple-clr-100: #cec3d1;
$purple-clr-200: #c0b2c4;
$purple-clr-300: #a390aa;
$purple-clr-400: #876e8f;
$purple-clr-500: #4f2a5b;
$purple-clr-600: #42234c;
$purple-clr-700: #361d3e;
$purple-clr-800: #29162f;
$purple-clr-900: #1c0f21;

$blue-clr-100: #cdceee;
$blue-clr-200: #bfc0ea;
$blue-clr-300: #a2a3e0;
$blue-clr-400: #8687d7;
$blue-clr-500: #4d4fc4;
$blue-clr-600: #4142a5;
$blue-clr-700: #343685;
$blue-clr-800: #282966;
$blue-clr-900: #1c1c47;

$green-clr-100: #c2e5d8;
$green-clr-200: #b1ddcc;
$green-clr-300: #8eceb6;
$green-clr-400: #6bbf9f;
$green-clr-500: #48b089;
$green-clr-600: #25a172;
$green-clr-700: #1f8760;
$green-clr-800: #196d4e;
$green-clr-900: #13543b;

$lime-green-clr-100: #f3f9b8;
$lime-green-clr-200: #eff7a3;
$lime-green-clr-300: #e8f47a;
$lime-green-clr-400: #e1f152;
$lime-green-clr-500: #daed29;
$lime-green-clr-600: #d3ea00;
$lime-green-clr-700: #b1c500;
$lime-green-clr-800: #8f9f00;
$lime-green-clr-900: #6e7a00;

$yellow-clr-100: #ffecb8;
$yellow-clr-200: #ffe7a3;
$yellow-clr-300: #ffdc7a;
$yellow-clr-400: #ffd152;
$yellow-clr-500: #ffc629;
$yellow-clr-600: #ffbb00;
$yellow-clr-700: #d69d00;
$yellow-clr-800: #ad7f00;
$yellow-clr-900: #856100;

$red-clr-100: #ffb8b8;
$red-clr-200: #ffa3a3;
$red-clr-300: #ff7a7a;
$red-clr-400: #ff5252;
$red-clr-500: #ff2929;
$red-clr-600: #ff0000;
$red-clr-700: #d60000;
$red-clr-800: #ad0000;
$red-clr-900: #850000;

$gray-clr-100: #f4f4f4;
$gray-clr-200: #f1f1f1;
$gray-clr-300: #eaeaea;
$gray-clr-400: #e4e4e4;
$gray-clr-500: #ddd;
$gray-clr-600: #d7d7d7;
$gray-clr-700: #b5b5b5;
$gray-clr-800: #929292;
$gray-clr-900: #707070;

$navbar-height: 8dvh;
