@import "variables.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-wrap: nowrap;
  cursor: pointer;
  transition: 0.2s ease-in-out background;

  &.primary {
    background-color: $blue-clr-500;
    color: $white-clr;

    &:hover {
      background-color: $blue-clr-600;
    }
  }

  &.transparent {
    background: transparent;

    &:hover {
      background-color: $gray-clr-100;
    }
  }

  &.danger {
    color: $red-clr-900;
    background: $red-clr-100;

    &:hover {
      background-color: $red-clr-200;
    }
  }

  &.secondary {
    background: $lime-green-clr-400;
    color: $lime-green-clr-900;

    &:hover {
      background: $lime-green-clr-500;
    }
  }

  &.action {
    background: $green-clr-500;
    color: $white-clr;

    &:hover {
      background: $green-clr-600;
    }
    // color: $green-clr-100;
  }

  &.fade {
    background-color: $gray-clr-100;
    color: $gray-clr-900;
  }
}
