@import "variables.scss";

.input-field {
  display: flex;
  flex-direction: column;

  &.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // & > .input-field__title {
    //   font-weight: 800;
    // }
    // flex: row;
  }

  &__title {
    color: $black-clr;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__input {
    position: relative;

    & > input {
      padding: 1rem 0.75rem;
      background: $gray-clr-100;
      border: none;
      outline: none;
      border-radius: 0.5rem;
      color: $black-clr;
      width: 100%;
      overflow: hidden;

      &:not(:valid) {
        background-color: $gray-clr-100;
      }
    }

    .show-password {
      cursor: pointer;
      top: 0;
      background: transparent;
      right: 0;
      border-radius: 0.25rem;
      aspect-ratio: 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      font-size: 1.25rem;
    }
  }
}
