@import "variables.scss";

.match {
  isolation: isolate;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr clamp(1fr, 10vw, 250px) 1fr;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .match {
    grid-template-columns: 1fr 0.65fr 1fr;
    grid-template-rows: 1fr;
  }
}

.tv-overlay {
  background: transparent;
  width: 100vw;
  height: 100vh;
  position: relative;

  & > img {
    width: 10rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .table {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: $white-clr;
    background: $purple-clr-500;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    overflow: hidden;
    border: 1px solid rgb($purple-clr-100, 1);

    &__team {
      display: flex;
      gap: 1rem;

      &:first-child {
        border-bottom: 1px solid rgb($purple-clr-100, 1);
      }

      .players {
        padding: 0.5rem;
        padding-left: 2rem;

        .player {
          position: relative;
          min-width: 160px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 0.5rem;

          & > span {
            max-width: 12ch;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
          }

          .ball_icon {
            position: absolute;
            left: -15%;
            top: 50%;
            transform: translate(0, -50%);
            color: $lime-green-clr-500;
          }
        }
      }

      .score {
        display: flex;
        justify-content: center;
        flex-direction: row;
        font-size: 1.5rem;

        .current-set {
          padding: 0.5rem;
          color: $purple-clr-900;
          background: $white-clr;

          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          aspect-ratio: 3/1;
        }

        .sets {
          display: flex;
          gap: 0.15rem;
          align-items: center;
          justify-content: center;
          // margin-right: 0.5rem;

          & > * {
            display: flex;
            align-items: center;
            justify-content: center;
            //
            width: 40px;
            aspect-ratio: 3/1;
            height: 100%;
            background: $purple-clr-500;
            color: $white-clr;

            &.active {
              background: $lime-green-clr-500;
              color: $purple-clr-500;
            }
          }
        }
      }
    }
  }

  // .table {
  //   background: $white-clr;
  //   position: absolute;
  //   bottom: 1rem;
  //   left: 1rem;
  //   outline: 2px solid black;
  //   width: fit-content;
  //   background: linear-gradient(to right, #242424, #333333);
  //   color: $white-clr;
  //   border-radius: 0.15rem;

  //   &__team {
  //     // padding: 0.5rem;
  //     display: flex;
  //     width: fit-content;

  //     &:first-child {
  //       border-bottom: 2px solid black;
  //     }

  //     .players {
  //       padding-block: 0.5rem;
  //       padding-inline: 0.5rem;
  //       min-width: 200px;
  //       border-right: 2px solid $purple-clr-500;

  //       .player {
  //         font-weight: 800;
  //       }
  //     }

  //     & > .score {
  //       display: flex;
  //       flex-direction: row;
  //       align-items: center;
  //       justify-content: center;
  //       width: fit-content;

  //       .sets {
  //         height: 100%;
  //         display: flex;
  //         background: linear-gradient(to right, #242424, #333333);
  //         color: $white-clr;
  //         // background: red;

  //         & > * {
  //           height: 100%;
  //         }
  //       }

  //       & p {
  //         font-size: clamp(1rem, 5vw, 1.25rem);
  //         // width: 2rem !important;
  //         aspect-ratio: 1;
  //         // height: 4rem;
  //         display: flex;
  //         height: 100%;
  //         align-items: center;
  //         justify-content: center;
  //         width: 100%;
  //         height: 100%;

  //         &:not(:last-child) {
  //           border-right: 2px solid black;
  //         }

  //         &.current-set {
  //           color: black;
  //           font-weight: bold;
  //           background: linear-gradient(45deg, #daed29, #b1c500);
  //           width: 3rem !important;
  //           aspect-ratio: 1;

  //           // background: $lime-green-clr-500;
  //         }

  //         &.current-gem {
  //           color: $white-clr;
  //           background: $purple-clr-400;
  //         }

  //         &.sets {
  //           background: $white-clr;
  //           background: linear-gradient(to right, #000000, #333333);
  //           // background: rgb($black-clr, 0.2);
  //           // color: $white-clr;
  //         }
  //       }
  //     }
  //   }
  // }
}

// --------

.score {
  overflow: hidden;
  display: block;
  position: relative;
  flex-direction: column;

  h1 {
    width: 100%;
    position: absolute;
    text-align: center;
    font-weight: 300;
    font-size: clamp(0.75rem, 2vw, 1rem);
  }
}

.match-view {
  isolation: isolate;
  color: $white-clr;
  background-color: $purple-clr-900;
  height: 100dvh;
  padding: 1rem;
  position: relative;

  background-color: #361d3e;
  opacity: 1;
  background-image: radial-gradient(
    $purple-clr-800 1.1px,
    $purple-clr-900 0.9px
  );
  background-size: 18px 18px;

  &__logo {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  &__title {
    top: 1rem;
    position: absolute;
    text-align: center;
    font-weight: 800;
    font-size: clamp(1rem, 3vw, 2rem);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 1rem;

    .subtitle {
      font-weight: 300;
      font-size: clamp(0.75rem, 5vw, 1rem);
      position: absolute;
      top: 100%;
      width: 100%;
      text-align: center;
    }

    .status {
      font-size: clamp(0.5rem, 3vw, 1rem);
      outline: 1px solid $gray-clr-500;
      border-radius: 100rem;
      width: fit-content;
      height: fit-content;
      color: $gray-clr-900;
      padding: 0.25rem 1rem;
      background-color: $gray-clr-100;
      font-weight: 500;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    .team {
      display: flex;
      justify-content: space-between;

      &__players {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-weight: 800;
        font-size: clamp(1.15rem, 2vw, 1.5rem);
        align-self: center;

        p {
          display: flex;
          align-items: center;
          position: relative;

          span {
            position: absolute;
            right: calc(100% + 1rem);
            font-size: clamp(1.25rem, 5vw, 1.5rem);

            svg {
              color: $lime-green-clr-500;
            }

            img {
              left: 0;
              max-width: 2rem;
              filter: drop-shadow(0px 2px 3px rgb($purple-clr-100, 0.5))
                brightness(0.85);
            }
          }
        }
      }

      &__score {
        display: flex;
        gap: 1rem;
        font-weight: 800;
        color: $black-clr;

        --width-div: clamp(4rem, 5.5rem, 7rem);

        .sets {
          font-size: clamp(1rem, 3vw, 3rem);
          display: flex;
          align-items: center;
          color: $white-clr;
          & > p {
            text-align: center;
            width: var(--width-div);

            &:not(.active) {
              opacity: 0.3 !important;
            }
          }
        }

        .gem {
          aspect-ratio: 1;
          width: var(--width-div);
          height: var(--width-div);
          font-size: clamp(1rem, 3vw, 2rem);
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2rem;
          background: $lime-green-clr-500;
        }
      }
    }

    .line {
      height: 0.35rem;
      background: linear-gradient(90deg, $purple-clr-500, transparent 90%);

      isolation: isolate;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: rgb($purple-clr-300, 0.2);
        filter: blur(5px);
      }
    }
  }
}

@media (max-width: 768px) {
  .match-view {
    &__body {
      .team {
        flex-direction: column;
      }
    }
  }
}
