@import "variables.scss";

.main {
  scroll-behavior: smooth;

  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-x: auto;

  & > * {
    min-width: 100%;
    scroll-snap-align: center;
    overflow-y: auto;
    max-height: calc(100dvh - $navbar-height);
  }
}

@media (min-width: 768px) {
  .main {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;

    & > * {
      overflow-y: auto;
      max-height: calc(100vh - 8vh);
    }

    & > *:first-child {
      border-right: 1px solid $gray-clr-200;
    }
  }
}

@media (min-width: 960px) {
  .main {
    grid-template-columns: 2fr 1fr;
  }
}
