@import "variables.scss";

.tournaments__header {
  .header {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    h1 {
      font-weight: 800;
      font-size: clamp(0.75rem, 5vw, 1.5rem);
      max-width: clamp(10ch, 15vw, 20ch);
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .back {
      padding: 0.25rem;
      width: 2rem;
      height: 2rem;
      background: $gray-clr-100;
      color: $black-clr;
      border-radius: 100rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
    }
  }
}

.group-btn-header {
  width: 100%;
  border-bottom: 1px solid $gray-clr-100;
  display: flex;

  .group-btn {
    flex: 1;
    width: 100%;
    padding: 1rem;
    background: $blue-clr-200;
    color: $blue-clr-500;
    transition: all 0.2s ease-in-out;
    outline: 1px solid $blue-clr-500;
    outline-offset: -1px;

    &.active {
      // outline: none;
      background: $blue-clr-500;
      color: $white-clr;
    }

    // &:first-child {
    //   border-right: 1px solid rgb($blue-clr-500, 1);
    // }
    // background: red;
  }
}

.group {
  padding: 0.5rem;
  background: $gray-clr-100;
  border-radius: 0.25rem;
  outline: 1px solid $gray-clr-500;

  &__header {
    display: flex;
    justify-content: space-between;

    .button {
      width: 2rem;
      height: 2rem;
      padding: 0;
    }

    h2 {
      font-weight: 800;
      font-size: clamp(1rem, 5vw, 1.25rem);
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 500;

      span {
        font-weight: 800;
        font-size: clamp(0.5rem, 5vw, 0.85rem);
        padding: 0.25rem;
        aspect-ratio: 1;
        width: 2rem;
        display: flex;
        align-items: center;
        line-height: 1;
        justify-content: center;
        color: $white-clr;
        border-radius: 0.15rem;
        background: $blue-clr-500;
      }
    }
  }

  &__list {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;

    .team {
      display: flex;
      font-size: clamp(0.5rem, 3vw, 1rem);
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      outline: 1px solid $gray-clr-500;
      background: $gray-clr-400;
      border-radius: 0.15rem;
      flex: 1;
      gap: 1em;

      &__player {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 10 ch;
        width: 100%;
        text-wrap: nowrap;
        text-align: left;
      }
    }
  }

  &.add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $blue-clr-100;
    color: $blue-clr-500;
    outline: 1px solid $blue-clr-500;
    transition: background 0.2s ease;
    cursor: pointer;

    &:hover {
      background: $blue-clr-200;
    }

    .icon {
      font-weight: 800;
      font-size: clamp(1.5rem, 10vw, 3rem);
    }
  }
}

.single-team {
  background: rgb($gray-clr-100, 1);
  outline: 1px solid $gray-clr-400;
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  // align-items: center;
  flex-direction: column;

  .details {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;

    input[type="text"] {
      border-radius: 0.15rem;
      outline: 1px solid $gray-clr-400;
      background: $white-clr;
      padding: 0.25rem 0.5rem;
    }

    p {
      // padding-block: 0.25rem;
      // font-size: clamp(1rem, 10vw, 1.15rem);
    }
  }

  .ctas {
    gap: 0.5rem;
    display: flex;
    // flex-direction: column;

    .button {
      width: 100%;
      padding: 0.25rem 0.5rem;
    }
  }
}
