@import "variables.scss";

h1 {
  font-size: clamp(1.5rem, 10vw, 2rem);
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: left;
  width: 100%;
}

.watch-tv {
  overflow: hidden;
  isolation: isolate;
  color: $white-clr;
  background-color: $purple-clr-900;
  height: 100%;
  height: 100dvh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: $purple-clr-100;
  opacity: 1;
  background-image: radial-gradient(
    $purple-clr-600 1.1px,
    $purple-clr-800 0.9px
  );
  background-size: 18px 18px;

  & > img {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  & > .tournament {
    outline: none;
    width: 100%;
    position: relative;

    & > .graph {
      position: absolute;
      width: 100%;
      height: 70%;
    }
  }

  .tournaments.graph {
    height: 100%;
    width: 100%;
    margin-top: 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
    place-content: start;

    // display: flex;
    // gap: 1rem;
    // flex-wrap: wrap;
    // row-gap: 0;

    // place-items: center;
    // margin-top: 1rem;
    // align-self: center;
    // place-self: center;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    // grid-gap: 1rem;
    .tournament {
      height: fit-content;
      min-width: 150px;
      text-overflow: ellipsis;
      text-wrap: nowrap;
      overflow: hidden;
      flex: 1;
      border-radius: 0.5rem;
      padding: 1rem;
      background-color: $purple-clr-700;
      outline: 1px solid $purple-clr-500;
      position: relative;
      transition: all 0.2s ease;
      height: fit-content;

      &:has(.graph) {
        outline: none !important;
      }

      &:hover,
      &:focus {
        outline: 1px solid $purple-clr-400;
      }
    }
  }
}
