@import "variables.scss";

.match__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  outline: 1px solid $gray-clr-300;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 10px 0px rgb($black-clr, 0.15);

  .players {
    font-size: clamp(1.25rem, 5vw, 1.5rem);
    font-weight: 800;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & > p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.75rem 0.5rem;
      outline: 1px solid $gray-clr-300;
      box-shadow: 0px 2px 10px 0px rgb($black-clr, 0.05);
      border-radius: 0.25rem;
      position: relative;
      transition: 0.2s ease-in-out all;

      &:is(.serving) {
        outline: 1px dashed $blue-clr-500;

        svg {
          width: clamp(1.25rem, 5vw, 1.5rem);
          color: $blue-clr-500;
        }
      }

      &:is(.inactive) {
        svg {
          color: $gray-clr-200;
        }
      }

      & > img {
        aspect-ratio: 1;
        max-width: 2rem;
        max-height: 2rem;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: auto;

    .action {
      .ctas {
        gap: 0.5rem;
        display: flex;
      }
    }
  }

  .options {
    border-top: 1px dashed $gray-clr-500;
    padding-top: 1rem;
    // background: blue;

    &__option {
      display: flex;
      justify-content: space-between;

      .input-field__input {
        margin-left: auto;
      }
    }
  }
}

.match__score {
  .score {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: 800;
    font-size: clamp(6rem, 5vw, 6rem);
  }

  .sets {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 0.5rem;
    font-size: clamp(1.25rem, 5vw, 2rem);

    .slash {
      color: $gray-clr-500;
      font-weight: 300;
      font-size: clamp(1rem, 5vw, 1.25rem);
    }

    .single {
      padding: 0.5rem 0.75rem;
    }
   
  }

  .tie-break-buttons{
    display: flex;
    gap: 0.25rem;
    margin-top: 0.5rem;
    justify-content: center;

    & > button{
      padding: 0.25rem 0.5rem;
    }
  }

  .winner {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-top: 1px dashed $gray-clr-500;

    &__label {
      margin-top: 1rem;
      font-weight: 300;
    }

    &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .team {
        font-weight: 800;
        font-size: clamp(1.25rem, 1.5rem, 1.75rem);

        &::first-letter {
          text-transform: uppercase;
        }
      }

      & > button {
        padding: 0.25rem;
        // font-size: 0.2rem !important;
        height: 2rem;
        width: 2rem;
        // aspect-ratio: 1;

        svg,
        path {
          width: 1.25rem;
          // width: 1rem;
          // font-size: 0.2rem;
        }
      }
    }
  }
}
